# Dev stuff
__pycache__
*.sw?
.idea/
# Locally generated
# we highly recommended against removing the private folder from the gitignore file
# the directory is used to store sensitive information such as contacts
/private
.vscode/settings.json
.DS_Store
*.bak
# Emacs (from https://github.com/github/gitignore/blob/main/Global/Emacs.gitignore)
*~
\#*\#
.\#*
# Vim (from https://github.com/github/gitignore/blob/main/Global/Vim.gitignore)
[._]*.swp
# Private
core/system_paths-*.talon-list
core/vocabulary/vocabulary.talon-list
core/websites_and_search_engines/website.talon-list
*.csv-converted-to-talon-list
sdf.py
sdf.txt
/core/my_customizations/hostname_specific_actions/gamen_computer_git_ignored.talon
/apps/my_customizations/jira.talon
.claude/
stored_state
plugin/new_user_message/new_user_message_dismissed